* {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif; 
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif; 
}

p {
    font-family: 'Open Sans', sans-serif;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Estilos para el contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

/* Estilos para el botón de cierre (la "x") */
.close {
    position: absolute;
    top: 10px; /* Ajusta según sea necesario */
    right: 10px; /* Ajusta según sea necesario */
    cursor: pointer;
    color: #aaa;
    font-size: 30px
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.card {
    height: 100%; /* Establecer una altura fija para las tarjetas */
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1; /*wHace que el cuerpo de la tarjeta crezca para ocupar el espacio disponible/*
    overflow: hidden; /*wOculta el exceso de contenido que no cabe en la tarjeta /*
    text-overflow: ellipsis; /*wAgrega puntos suspensivos para indicar que el texto se ha truncado /*
    /*white-space: nowrap; /* Evita que el texto se ajuste automáticamente */
}



/* TAmanio de imgs */
.card-img-top {
    width: 100%;
    height: 70%; /* Esto mantendrá la proporción de la imagen (en auto) */
}

/* Estilos para el modal del carrito */
#cartModal {
    display: none; /* Por defecto, el modal está oculto */
    position: fixed; /* Posición fija para mantenerlo en la misma ubicación al hacer scroll */
    top: 0; /* Alineado en la parte superior */
    right: 0; /* Alineado a la derecha */
    bottom: 0; /* Extiende hasta la parte inferior de la ventana */
    width: 300px; /* Ancho del modal */
    background-color: #fff; /* Color de fondo del modal */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    z-index: 9999; /* Z-index alto para asegurar que esté por encima de otros elementos */
    overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido del modal es demasiado largo */
}

/* Estilos para el contenido del modal */
#cartModal .modal-content {
    padding: 20px; /* Espaciado interno */
}

/* Estilos para el botón de cerrar */
#cartModal .close {
    position: absolute; /* Posición absoluta para estar alineado correctamente */
    top: 10px; /* Alineado en la parte superior */
    right: 10px; /* Alineado a la derecha */
    cursor: pointer; /* Cursor de apuntar */
    font-size: 24px; /* Tamaño de fuente */
    color: #333; /* Color del icono de cierre */
}







